@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
::after,
::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
}
/* ################ utility classes ############# */
.container{
    max-width: 1200px;
    width: 70%;
    margin: auto;
}
.container-second{
    max-width: 700px;
    width: 50%;
    margin: auto;
}

/* ############ navbar styling ###################### */

/* for desktop */
.navbar-content input[type="checkbox"], 
.hambergur-line{
    display: none;
}
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 9999;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
}
.menu-items li{
    list-style: none;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.logo{
    order: 1;
    font-size: 3rem;
}
.navbar a{
    color: #111;
    text-decoration: none;
    font-weight: 500px;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
    
}
/* ############ showcase-area stylng ################## */
#showcase-area{
    height: 50vh;
    background: url("./imagweb/showcase.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}
.btn{
    display:inline-block;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    /* border: 2px solid green solid green;
    background: rgb(30, 167, 30); */
    padding: 1rem 2.5rem;
    margin-top: 1.5rem;
    border-radius: 2.5em;
    cursor: pointer;
}
.btn-primary{
    color: #fff;
    background: #16a083;
    text-transform: uppercase;
}
.main-title{
    text-transform: uppercase;
}
/* ############## About US styling ################ */
#about{
    padding: 50px 0px;
    background-color: #f5f5f5;
}
.about-text h2{
    font-size: 3.2rem;

}
.about-text .small{
   font-size: 1.6rem;
   color: #666;
   font-weight: 600;

}
.about-text p{
    font-size: 1.6rem;
    color: #555;
}
.about-wrapper{
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    
}
.about-img{
    flex: 1 1 400px;
    padding: 30px;
    /* border: 2px solid red; */
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;

}
@keyframes about-img-animation{
    100%{
        transform: translate(0);
    }
}
.about-text{
    flex: 1 1 500px;
    padding: 30px;
    /* text-align: center; */
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
    /* width: 500pxd; */
}
@keyframes about-text-animation{
    100%{
        transform: translate(0);
    }
}
.about-img img{
    display: block;
    height: 350px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
/* ####################### section-food styling ################## */
#food{
    padding: 5rem 0 10rem 0;
    background-color: #fff;
    
}
.food-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
   
   
}
.food-container img{
    display: block;
    width: 100%;
    max-height: 220px;
    flex: 1 1 400px;
    /* padding: 30px; */
    object-fit: cover;
    object-position: center;
    
    
}

#food h2{
    text-align: center;
    font-weight: 600;
    /* padding: 0 40%; */
    font-size: 3.2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.img-container{
    
    position: relative;
    
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    z-index: 3;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
    color: #fff;
    font-size: 2rem;
}
.img-content a{
    font-size: 1.2rem;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    /* opacity: 0; */
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%
}  
/*  ########## section : food-menu styling #############*/
.food-menu-heading{
    font-size: 3.6rem;
    color: #555;
    text-align: center;
    font-weight: 600;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    
}

.food-menu-container img{
    display: block;
    width: 245px;
    height: 245px;
    margin-bottom: 50px;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
}
.food-menu-item{
    display: flex;
    flex: 1 1 400px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    margin-right: 3rem;
 
}
.food-img img:hover{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 56%);
}
.food-description{
    margin: auto 1.5rem;
    
}
.food-title{
    font-size: 2rem;
    font-weight: 500;
    color: #444;
}
.food-description p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 600;
}
.food-description .food-price{
    color: #117064;
    font-weight: 700;
}
/*  ######################## chef-section styling ############## */
#chef{
    background: rgb(243, 243, 243); 
}
.chef-main-heading{
    font-size: 3.6rem;
    color: #555;
    text-align: center;
    font-weight: 600; 
    

}
.chef-container{
    display: flex;
    flex-wrap: wrap; 
    font-size: 1.6rem;
    padding: 1rem;
    
}
.chef-container .checked{
    color: #ff9529;


}
.chef{
    text-align: center;
    padding: 1rem;
}

.chef-container-item{
    display: flex;
    flex: 1 1 400px;
    
    
}
.chef-container-item img{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 50px;
    object-fit: cover;
    object-position: center;

}
.chef-img .cefh-name{
    margin: 1rem;
    text-align: center;
}
.chef-description{
    color: #444;
    margin: 1rem 0;
} 
  /* ################# contect page styling ################ */
#contect{
    padding: 8rem 0;
    background: rgb(226, 226, 226);
    

}
.contect-container{
    display: flex; 
    background: #fff;

} 
.contect-img{
    
    width: 50%;
    
    /* height: 50%; */
}
.contect-img img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.contect-description{
    padding: 1rem;
    width: 50%;
    margin: auto;
} 
.contect-description input, textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500; 
}
.contect-description h2{
    font-size: 3rem;
    color: #555;
    text-align: center;
    font-weight: 600; 

}
/* ####### footer styling ################ */
.footer-container{
    background: #444;
    padding: 4rem 0;
}
.footer-content p{
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;

}
/*################ submit_response styling ###################### */
.response-submite{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
     
}
.response-container-main{
    /* border: 2px solid red; */
    padding: 20px;
    outline: 0;
    background: white; 
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 56%);
    position: fixed;
}
.response-container-main h1{
    font: 600;
    font-size: 4rem;
    text-align: center;

}
.response-container-main h2{
    padding: 5px;
    text-align: center;
    
}
.response-container-main p{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
   
}
.response-container-main .check{
    padding: 10px 0;
    font-size: 9em;
    color: #16a083;
    margin: 0 40%;
   
}
.response-container-main span{
    color: #177561;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: zoom-in;
    text-decoration: underline;
    
}
/* ###################media quary ############### */
@media (max-width:768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-content input[type="checkbox"], 
    .hambergur-line{
        display: block;
    } 
    .navbar-content{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-content input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-content .hambergur-line{
        display: block;
        height: 40px;
        width: 32px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
    }
    .navbar-content .hambergur-line .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
    .navbar-content .hambergur-line .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-content .hambergur-line .line2{
        /* transform-origin: 0% 0%; */
        transition: transform 0.4s ease-in-out;
    }
    .navbar-content .hambergur-line .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        
    }
} 
